.popup,
#popup-about-product {
    max-width: 100%;
    width: 640px;
    background: var(--white);
    border-radius: 10px;
}

.popup h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 32px;
    text-align: center;
}

.form-description {
    text-align: center;
    color: var(--theme-color-grey);
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.form-sign span {
    color: var(--theme-color-grey);
    font-size: 14px;
}

.wpcf7-form-control-wrap textarea {
    max-height: 100px;
    overflow-y: scroll;
}

.wpcf7-form-control.wpcf7-submit {
    display: flex;
    margin: 0;
    gap: .5em;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(34, 84, 61, 1) 0%, rgba(12, 49, 32, 1) 100%);
    color: #fff;
    font-weight: 400;
    transition: all .5s var(--transition);
}

.popup form input::placeholder,
.popup form textarea::placeholder {
    color: var(--theme-color-grey);
}

.required-text {
    font-size: 14px;
    color: var(--theme-color-grey);
}

.form-sign p span {
    padding: 0;
}

.wpcf7-acceptance .wpcf7-list-item label {
    display: flex;
    align-items: flex-start;
    gap: .5em;
}

.wpcf7-acceptance .wpcf7-list-item label span {
    padding: 0;
}

.wpcf7-acceptance .wpcf7-list-item {
    margin-left: 0;
}

.wpcf7-acceptance .wpcf7-list-item label>input {
    transform: translatey(4px);
}

.popup form .button.button-black {
    margin: 0 auto;
}

.popup .wpcf7 form p .button {
    background: var(--theme-color-primary);
    margin: 0 auto;
}

.product-question-title {
    font-family: var(--font-body);
    max-width: 80%;
    text-align: center;
    margin: 0 auto .5em;
}